@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,400;1,500;1,700;1,800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.btn-common {
  background: #e76f51;
  color: #ffffff;
}
.w-common {
  width: 7%;
  color: #e76f51;
}
.gray-scale {
  filter: grayscale(100%);
}
.fetured-bikes img {
  width: 80%;
}
